#liquidation {
  margin-top: 30px;
}

#liquidation table {
  width: 100%;
  border-collapse: collapse;
}

#liquidation th,
#liquidation td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

#liquidation th {
  background: #0d1117;
  color: #fff;
}
